

:root {
    --color-primary: #6c63ff;
    --color-success: #00bf8e;
    --color-warning: #f7c94b;
    --color-danger: #f75842;
    --color-danger-variant: rgba(247, 88, 66, 0.4);
    --color-white: #fff;
    --color-light: rgba(255, 255, 255, 0.7);
    --color-black: #000;
    --color-bg: #0B1330;
    --color-bg1: #2e3267;
    --color-bg2: #424890;
    
    --container-width-lg: 80%;
    --container-width-md: 90%;
    --container-width-sm: 94%;

    --transition: all400ms ease;

}

/* ===================NEDİR===================== */
.nedir {
    background: var(--transition);
}

.nedir h1 {
    line-height: 3rem;
    margin-bottom: 1rem;
    text-align: center;
    margin-top: 3rem;
}

.nedir__container {
    display: grid;
    grid-template-columns: 70% 30%;
    gap: 5rem;
}

.nedir__left {
    margin-right: 1rem;
}

.nedir__left p {
    margin: 4rem 0 3rem;
}

.nedir__right {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.ne {
    background: var(--color-bg1);
    padding: 1.6rem;
    border-radius: 1rem;
    text-align: center;
    transition: var(--transition);
}

.ne:hover {
    background: var(--color-bg2);
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.nedir__icon {
    background: var(--color-primary);
    padding: 0.6rem;
    border-radius: 1rem;
    display: inline-block;
    margin-bottom: 2rem;
    font-size: 2rem;
}

.ne:nth-child(2) .nedir__icon {
    background: var(--color-danger);
}

.ne:nth-child(3) .nedir__icon {
    background: #F27306;
}

.ne:nth-child(4) .nedir__icon {
    background: var(--color-warning);
}

.ne:nth-child(5) .nedir__icon {
    background: var(--color-success);
}

.ne:nth-child(6) .nedir__icon {
    background: #E8889B;
}


.ne h3 {

    margin: 2rem 0 1rem;
}

.ne p {
    font-size: 0.85rem;
}

/* ===================== EKİP ================== */

.team {
    background: var(--color-bg1);
    box-shadow: inset 0 0 3rem rgba(0, 0, 0, 0.5);
}

.team__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.team__member {
    background: var(--color-bg2);
    padding: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
    position: relative;
    overflow: hidden;
}

.team__member:hover {
    background: transparent;
    border-color: var(--color-primary);
}

.team__member-image img {
    filter: saturate(0);
}

.team__member:hover img {
    filter: saturate(1);
}


.team__member-image  {
    margin-bottom: 2rem;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border-top: 3px solid;
    border-left: 3px solid;
    border-top-right-radius: 1rem ;
    border-bottom-left-radius: 1rem;
}

.team__member-image img {
    max-width: 100%;
    max-height: 100%;
    width: 250px;
    height: 250px;
    object-fit: cover;
    transition: filter var(--transition);
}



.team__member-info * {
    text-align: center;
    margin-top: 1.4rem;
}

.team__member-info p {
    color: var(--color-light);
}

.team__member-social {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -100%;
    display: flex;
    flex-direction: column;
    background: var(--color-primary);
    border-radius: 1rem 0 0 1rem;
    box-shadow: -2rem 0 2rem rgba(0, 0, 0, 0.3);
    transition: var(--transition);
}

.team__member:hover .team__member-social{
    right: 0;
}

.team__member-social a {
    padding: 1rem;
}

/* ===================== MEDİA QUERİES (tablets)======================= */

@media screen and (max-width: 1024px) {
    .nedir {
        margin-top: 2rem;
    }

    .nedir h1 {
        text-align: center;
    }

    .nedir__container {
        grid-template-columns: 1fr;
        gap: 4rem;
    }

    .nedir__left {
        width: 80%;
        margin: 0 auto;
    }

    .team__container {
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
    }

    .team__member {
        padding: 1rem;
    }
}

/* ===================== MEDİA QUERİES (tablets)======================= */

@media screen and (max-width: 600px) {
    .ne {
        grid-template-columns: 1fr 1fr;
        gap: 0.7rem;
    }

    .team__container {
        grid-template-columns: 1fr 1fr;
        gap: 0.7rem;
    }

    .team__member {
        padding: 0;
    }

    .team__member p {
        margin-bottom: 1.5rem;
    }
}